{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="mt-5">
    <div class="container mt-5">
        <!-- Page Heading -->
        <h1 class="my-4 mt-5">
           About Me
        </h1>
        <p class="mt-5">
            <h1><small>Im Python Developer</small></h1>
            <b>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ducimus omnis labore aspernatur molestias, voluptates repellat earum rerum obcaecati ipsa excepturi perspiciatis voluptatem sed nemo magni facere incidunt accusantium deleniti.
            </b>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit aut voluptates libero, enim reprehenderit autem harum iure expedita aliquam rem.</p>

        </p>
        </div>
    </div>
{% endblock %}